/* -------------- ALWAYSON/GLOBAL ELEMENTS -------------- */

body {

}

.game-screen-container {
    text-align: center;
    border: 1px solid black;
    width: 90%;
    margin: 1em auto;
    display: inline-block;
}

.header {
    font-size: 4em;
}



/* -------------- ON/OFF TRIGGERED ELEMENTS -------------- */

.splash-screen {
    display: none;
}

.game-screen {
    display: none;
}

.game-result-screen {
    display: none;
}

.question-result-screen {
    display: none;
}

.timer {
    border: 1px solid black;
    padding: 1.5em;
    display: none;
}






/* -------------- STYLISTIC ELEMENTS -------------- */

.timer-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.question-section {
    font-size: 2em;
    font-weight: 600;
    border-bottom: 1px solid #777;
    width: 50%;
    margin: 1em auto;
}

.answer-section {
}

.correct {
    background-color: red;
    color: white;
}

.wrong {
    background-color: green;
    color: white;
}

li {
    list-style: none;
    margin: 1em;
    padding: 1em;
}

li:hover {
    /* border: 1px solid black; */
    background-color: lightblue;
}